[bumpversion]
current_version = 2025.08.2
commit = False
tag = False

[bumpversion:file:shepherd_client/shepherd_client/version.py]

[bumpversion:file:shepherd_server/shepherd_server/version.py]

[bumpversion:file:README.md]

[bumpversion:file:pyproject.toml]

[bumpversion:file:shepherd_client/pyproject.toml]

[bumpversion:file:shepherd_server/pyproject.toml]
