# install       pip3 install pre-commit
# run           pre-commit run --all-files
# update deps   pre-commit autoupdate

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-executables-have-shebangs
      - id: detect-private-key
      - id: mixed-line-ending
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: fix-byte-order-marker

  - repo: https://github.com/asottile/add-trailing-comma
    rev: v2.4.0
    hooks:
      - id: add-trailing-comma

  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort

  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: python-check-blanket-noqa
      - id: python-use-type-annotations
      - id: python-no-log-warn
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal
      - id: text-unicode-replacement-char

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.3.1
    hooks:
      - id: pyupgrade
        args: ["--py38-plus"]

  - repo: https://github.com/pycqa/flake8
    rev: 5.0.4
    hooks:
      - id: flake8
        additional_dependencies:
          # NOTE: entries are copy of .flake8-config-file -> for auto-install
          ### Bugs
          - flake8-bugbear
          - flake8-secure-coding-standard
          - flake8-bandit
          - flake8-builtins

          ### Clean Code
          - flake8-comprehensions
          - flake8-simplify
          - flake8-eradicate
          - flake8-commas

          ### Limitations
          - flake8-blind-except
          - flake8-logging-format
          - flake8-print

          ### Documentation
          - flake8-comments
          # - flake8-docstrings
          # - flake8-rst-docstrings

          ### Test-Improvements
          - flake8-assertive

  - repo: https://github.com/ansible-community/ansible-lint.git
    rev: v6.13.1
    hooks:
      - id: ansible-lint
        files: \.(yaml|yml)$

  - repo: https://github.com/codespell-project/codespell
    rev: "v2.2.2"
    hooks:
      - id: codespell
        exclude: \.(sch|brd|lbr)$
