[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pandas = "*"
h5py = "*"
pyyaml = "*"
django-crispy-forms = "*"
crispy-bootstrap5 = "*"
# under-test:
social-auth-app-django = "*"
fontawesomefree = "<7.0"
psycopg2-binary = "*"
dash-bootstrap-components = "*"
sqlalchemy = "*"
flask = "*"
influxdb-client = "*"
docutils = "*"

[dev-packages]

[requires]
python_version = "3"
