[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
shepherd_wsvr = {editable = true, extras = ["dev","test"], path = "./server"}

[dev-packages]


[pipenv]
allow_prereleases = false
