[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
influxdb-client = "*"
pandas = "*"
h5py = "*"
psycopg2-binary = "*"
dash-bootstrap-components = "*"
sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.9"
