[Unit]
Description=Scheduler for the testbed
After=mongod.service
Wants=mongod.service

[Service]
Type=simple
Restart=always
RestartSec=3
User=service
EnvironmentFile=/home/service/.env
ExecStart=/home/service/.local/bin/shepherd-server -v run-scheduler --dry-run

[Install]
WantedBy=multi-user.target

# systemctl status shepherd-scheduler
# systemctl restart shepherd-scheduler
# journalctl --follow -u shepherd-scheduler.service
