[Unit]
Description=Redirect for http/https to get to the documentation

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/bin/python3 /opt/shepherd_webservice/scratch_fastapi/prototype_redirect.py
Restart=on-failure

[Install]
WantedBy=multi-user.target

# systemctl status shepherd-redirect
# systemctl restart shepherd-redirect
# journalctl --follow -u shepherd-redirect.service
